html {
  background-color: black;
  color: white;
}

#events p {
  font-size: 1rem;
  width: 500px;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe; 
}